body{
    background: #000;
}

main{
    margin: 0 auto;
    width: 1024px ;
    background: #ffffff;
    
}

header{
    background:url(../images/angel-jimenez.jpg);
    background-size: cover;
    height: 550px;
    padding: 30px;
    margin: 20;
}

footer{
    background: #ec2d53;
}

.guitarra{
    background:url(../images/john-raptis.png);
    background-size: cover;
    height: 367px;
}
.letras{
    width: 366px;
}

.pop{
    width: 534px;
    float: right;
    padding: 60px;
}
.name{
    width: 241px;
    float: right;
    padding: 5px;
}
.your{
    width: 50%;
    float: left;
    padding: 24px;
}
.wer{
    padding: 5px;
}
.lop{
    float: right;
    width: 427px;
   
}
.left{
    width: 366px;
    float: left;
}
.pei{
    float: left;
    width: 427px;
}
.clear{
    clear: both;
}
.der{
    width: 366px;
    float: right;
}
table{
    width: 100%;
}
.color{
    color:#FA4A54;
    padding: px;
}
.boton{
    color:#FA4A54;
}
h1{
    font-size: 89px;
}

.log{
    width: 100%;
}

@media (max-width:600px)

    {
    main, footer{
    width: 100%;
    height: 100%;

    


  }

  header, h1{
 
    
    width: 100%;
    height: 180px;
    text-align: center;
    margin:auto;
    padding: 15px;
}

  }

  .pop{
    padding: 15px;
    font-size: 30px;
    width: 100%;
    height: 100%;


  }

    .left{
    padding: 0px;
    font-size: 20px;
    margin: 15px;
    height: 400px;

    }
    .color, p, h2,.der{
        padding: 15px;
        margin:auto;
        font-size: 20px;
        
    }
    .pei{
        padding: 15px;
        width: 100%;
    height: 100%;


    }

    .guitarra{
    width: 250px;
    height: 100%;
    padding: 13px;
    margin: 10px;
    
    }

    .lop{
        margin: -2px;
        width: 100%;
    height: 100%;

       
      
      
    }

    
       




      
  







